<!DOCTYPE html>
<html>
<head>
  <title>WrldAPP</title>
  <%= include_gon %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js' %>  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
